@import "tailwindcss";

:root {
  --background: #ffffff;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Inter, Helvetica, "sans-serif";
}
